.cogRenderContainer {
  .resampleMethod {
    margin-left: 14px;
  }
  .mode {
    margin: 10px;
    text-align: center;
  }
  :global {
    .semi-form-horizontal .semi-form-field {
      margin-right: 0;
      padding-right: 0;
      padding-left: 10px;
    }
  }
}
.show {
  display: block;
}

.hide {
  display: none !important;
}